Repository deomorxsy/kjx-headless, changes with the labels that .github/labeler.yml gives for each.
All labels: automation, tracing, scripts, deploy

.github/labeler.yml:

automation:
  - changed-files:
      - any-glob-to-any-file:
          - .github/**

tracing:
  - changed-files:
      - any-glob-to-any-file:
          - trace/**

scripts:
  - changed-files:
      - any-glob-to-any-file:
          - scripts/**

deploy:
  - changed-files:
    - any-glob-to-any-file:
        - deploy/**

fix: bump ccr.sh script to newest version with helper functions and pretty print.
  scripts/ccr.sh
Labels: scripts

fix: .env and justfile for the trace/ayaya project only
  .env
  justfile
  trace/ayaya/.env
Labels: tracing

fix: tryout [1/n] and entrypoints [1/n]
  scripts/entrypoints/k3s-killer.sh
  scripts/entrypoints/libbpf-static.sh
  scripts/tryout.sh
Labels: scripts

feat: add shellscript for the eltorito image generation
  scripts/bootloaders/generate-eltorito.sh
Labels: scripts

fix: remove xtask hence it is not used on the aya-template anymore; fix: dependencies in order to build bpf-linker
  trace/ayaya/.gitignore
  trace/ayaya/Dockerfile
  trace/ayaya/README.md
  trace/ayaya/xtask/Cargo.toml
  trace/ayaya/xtask/src/main.rs
Labels: tracing

fix: dependency install and cc linking precedence - set user only after installing dependencies as root
  trace/ayaya/Dockerfile
Labels: tracing

fix: remove unecessary artifact copies, just build the project and list dir
  trace/ayaya/Dockerfile
Labels: tracing

entrypoints [2/n]
  .gitignore
  compose.yml
  scripts/entrypoints/libbpf-static.sh
  trace/libbpf-core/final/Makefile
Labels: tracing, scripts

fix: libbpf-core header includes and build dependencies [1/n]
  scripts/entrypoints/libbpf-static.sh
  trace/libbpf-core/final/Dockerfile
  trace/libbpf-core/final/Makefile
Labels: tracing, scripts

feat: add android build through OCI image for arm64-v8a using xmake lua scripts and the usual workflow
  .github/workflows/build-android.yml
  Makefile
  compose.yml
  scripts/entrypoints/libbpf-android.sh
  trace/android/.gitignore
  trace/android/Dockerfile
  trace/android/README.md
  trace/android/src/main.cpp
  trace/android/xmake.lua
Labels: automation, tracing, scripts

fix: add zig-wasm, bpftrace, runit and android badges to the README.md
  README.md
Labels: none

fix: android build
  Makefile
  README.md
  compose.yml
  scripts/entrypoints/libbpf-android.sh
  trace/android/Dockerfile
Labels: tracing, scripts

fix: build through Makefile instead which provides only arm64-v8a instead of the matrix
  .github/workflows/build-android.yml
Labels: automation

fix: add a table to organize CI badge status
  README.md
Labels: none

fix: minor spelling mistake 💥
  README.md
Labels: none

fix: minor spelling mistake 💥v2: add ftrace ci
  README.md
Labels: none

fix: add base Dockerfile for init system runit testing
  .gitignore
  assets/runit/Dockerfile
Labels: none

feat: add microvm workflow runner with matrix for three rule invocations, also ccreate microvm and hlcr rules into the Makefile at the root of the repository.
  .github/workflows/microvms.yml
  Makefile
Labels: automation

feat: add async-profiler to explore jvm workloads
  .gitmodules
Labels: none

qonq-qdb [1/n]
  .github/workflows/qonq-qdb.yml
  .gitignore
  Makefile
  README.md
  compose.yml
  scripts/qonq-qdb.sh
Labels: automation, scripts

microvm setup [1/n]
  deploy/microvm/README.md
  deploy/microvm/gvisor/config.toml.tmpl
  deploy/microvm/gvisor/runsc_deploy.sh
  deploy/microvm/gvisor/runsc_rcpod.yaml
  deploy/microvm/kata/kata_rcpod.yaml
Labels: deploy

fix: add badges for Paravirt jobs
  README.md
Labels: none

PXELINUX setup [1/n]
  assets/kernel/Dockerfile
Labels: none

fix: citation file and README with the link for the gitlab mirror
  CITATION.cff
  README.md
Labels: none

fix: remove dangling badge and wip status
  README.md
Labels: none

qonq-qdb [2/n]
  .github/workflows/qonq-qdb.yml
  Dockerfile
  compose.yml
  scripts/entrypoints/bq-runner.sh
  scripts/tryout.sh
Labels: automation, scripts

fix: add honeypotion badge to the readme
  README.md
Labels: none

fix: set context and dockerfile path for the hpota Dockerfile, as well as the container_name for runner scripts
  compose.yml
Labels: none

fix submodules [1/n]
  .gitignore
Labels: none

busybox and dropbear bump/quickfixes [1/n]
  assets/busybox/Dockerfile
  assets/dropbear/Dockerfile
Labels: none

busybox and dropbear bump/quickfixes [1/n]
  .github/workflows/hpota.yml
  Makefile
  assets/busybox/Dockerfile
  assets/dropbear/Dockerfile
  scripts/tracers/hpota.sh
  trace/hpota/Dockerfile
Labels: automation, tracing, scripts

fix: honey-potion setup [1/n]
  .github/workflows/hpota.yml
  scripts/tracers/hpota.sh
  trace/hpota/Dockerfile
Labels: automation, tracing, scripts

fix: runner workflow rule for triggering actions
  .github/workflows/hpota.yml
Labels: automation

fix: runner workflow rule for triggering actions
  .github/workflows/hpota.yml
  trace/hpota/Dockerfile
Labels: automation, tracing

fix: honey-potion setup [2/n]
  .github/workflows/hpota.yml
  Makefile
  scripts/tracers/hpota.sh
  trace/hpota/Dockerfile
  trace/hpota/lib/Makefile
  trace/hpota/lib/hpota/application.ex
  trace/hpota/mix.exs
  trace/hpota/mix.lock
Labels: automation, tracing, scripts

fix: typo at the artifact stage
  .github/workflows/hpota.yml
Labels: automation

fix: honeypotion setup [3/n]
  .github/workflows/hpota.yml
  scripts/tracers/hpota.sh
Labels: automation, scripts

fix honeypotion setup [4/n] - add the hpota workflow runner again
  .github/workflows/hpota.yml
Labels: automation

fix: comment the fetch_registry environment variable since it will bind the port address 0.0.0.0:5000 before the one which comes right after the podman service script.
  scripts/tracers/hpota.sh
Labels: scripts

fix: remove the no-cache argument for the hpota build script
  scripts/tracers/hpota.sh
Labels: scripts
