Repository deomorxsy/kjx-headless, changes with the labels that .github/labeler.yml gives for each.
All labels: automation, tracing, scripts, deploy

fix: adjust every function call MODE variable to [-isogen_name] and reorder some items
  scripts/isogen/main.sh
Labels: scripts

fix: add functions for gvisor, firecracker and kata for decompress and installing its contents at the right path
  scripts/isogen/packaging.sh
Labels: scripts

fix: add a function for the linkage of kata-containers binaries which are better to stay on [/opt] as a pattern and only the symlink goes into the user binaries
  scripts/isogen/poc-bootscript.sh
Labels: scripts

fix: add more scopes and quick fixes to the rootfs, still need refactor
  scripts/isogen/rootfs.sh
Labels: scripts

feat: add podman and qemukjx function calls to the run-qemu.sh
  scripts/sandbox/run-qemu.sh
Labels: scripts

fix: define packaging invocations in another function, call said function after the [K3S_SQUASHFS_FILE] stage and the [qemu-system-x86_64] boot on the airgap-k3s
  scripts/sandbox/run-qemu.sh
Labels: scripts

fix: scope for the [core_poc_packaging] and its function call after the [K3S_SQUASHFS_FILE] stage and the [qemu-system-x86_64] boot on the airgap-k3s
  scripts/sandbox/run-qemu.sh
Labels: scripts

feat: add the [rqpoc_airgap] to upload the archive of the recording as a tarball
  .github/workflows/rqpoc_airgap.yml
Labels: automation

fix: place some variable definitions at the start of the file; rename the gvisor tarball
  scripts/isogen/poc-bootscript.sh
Labels: scripts

fix: place some variable definitions at the start of the file; rename the firecracker tarball
  scripts/isogen/poc-bootscript.sh
Labels: scripts

fix: adjust kata-tarball and kata-bin decompression and uncomment the call for kata and firecracker functions on the unpack_microvm function
  scripts/isogen/poc-bootscript.sh
Labels: scripts

fix: rename the container_name and OCI image tag to keep the consistency
  compose.yml
Labels: none

fix: rename the container_name and OCI image tag to keep the consistency, also on the workflow runner config
  .github/workflows/kernel.yml
Labels: automation

fix: add initramfs-setup to keep the consistency with the qonq_packaging pattern
  scripts/packages/initramfs-setup.sh
Labels: scripts

fix: add kernel-setup to keep the consistency with the qonq_packaging pattern
  scripts/packages/kernel-setup.sh
Labels: scripts

fix: add a comment to remember copying kernel and ramdisk into the ISO_DIR/kernel directory path
  scripts/isogen/main.sh
Labels: scripts

add: first half of the bootloaders script logic to the bootloaders.sh file
  scripts/isogen/bootloaders.sh
Labels: scripts

fix: add [unpack_microvms] from the [./scripts/isogen/poc-bootscripts.sh] script into packaging to be able to leverage this when generating the individual ISO with each of the microvms
  scripts/isogen/packaging.sh
Labels: scripts

fix: make a call to microvms at the ./scripts/isogen/packaging.sh, add the kata_linkage and adjust parts of the code that lacked consistency.
  scripts/isogen/poc-bootscript.sh
Labels: scripts

fix: refactor most of the code adding error handling with direct-style, also add more scopes that were missing from the [tryout.sh] shellscript
  scripts/isogen/rootfs.sh
Labels: scripts

fix: add the calling of variable that returns another string if not defined yet in ash posix shell scripting.
  scripts/isogen/squasha.sh
Labels: scripts

fix: change the container_name again to kernel to keep consistency
  scripts/packages/kernel-setup.sh
Labels: scripts

fix: add a new variable for the recording of the airgap target
  scripts/sandbox/run-qemu.sh
Labels: scripts

fix: comment the dropbear rule and add another with the rootfs name, since even the workflow runner already references the container_name defined on the ./compose.yml
  Makefile
Labels: none

feat: add docker-setup to the packaging bits
  scripts/packages/docker-setup.sh
Labels: scripts

fix: bump dependency - bytes to 1.11.1 due to security advisor notice on github; use the chance to update rustc and other dependencies of aya (such as disable aya-log-ebpf and keep using aya-log only)
  trace/ayaya/Cargo.lock
  trace/ayaya/Cargo.toml
  trace/ayaya/ayaya-ebpf/Cargo.toml
Labels: tracing

add: Initial Commit - add kjx-headless formal methods (validation, verification) shell scripts and overall directory structure
  kjx-formalize/.github/workflows/agda-ci.yml
  kjx-formalize/.github/workflows/idris2-ci.yml
  kjx-formalize/LICENSE
  kjx-formalize/README.md
  kjx-formalize/compose.yml
  kjx-formalize/formalize/agda/Dockerfile
  kjx-formalize/formalize/agda/agda-setup.sh
  kjx-formalize/formalize/idris/Dockerfile
  kjx-formalize/formalize/idris/hw.idr
  kjx-formalize/formalize/idris/ropkjx.idr
Labels: none

fix: move kjx-formalize to a separate, more adequate repository. todo: add this repository as gitmodules under [./scripts/formalize]
  kjx-formalize/.github/workflows/agda-ci.yml
  kjx-formalize/.github/workflows/idris2-ci.yml
  kjx-formalize/LICENSE
  kjx-formalize/README.md
  kjx-formalize/compose.yml
  kjx-formalize/formalize/agda/Dockerfile
  kjx-formalize/formalize/agda/agda-setup.sh
  kjx-formalize/formalize/idris/Dockerfile
  kjx-formalize/formalize/idris/hw.idr
  kjx-formalize/formalize/idris/ropkjx.idr
Labels: none

feat: add the kjx-formalize repository as gitmodule under [./scripts/formalize]
  .gitmodules
Labels: none

fix: readability of other distros on the reference list; add a [WITHOUT WARRANTY] notice.
  README.md
Labels: none

fix: add youki rootfs to the gitignore
  .gitignore
Labels: none

fix: add mirror of this repository to the ignore list
  .gitignore
Labels: none

fix: add the project doi from zenodo; fix: adjust the semantic versioning to v1.0.0
  CITATION.cff
Labels: none

fix: just remove the indentation
  Makefile
Labels: none

fix: add a busybox_rootfs target rule to the compose.yml, in order to build the rootfs as a dependency to run qonq_youki.
  compose.yml
Labels: none

fix: tarball copy from artifacts to inside-container helper directory
  deploy/microvm/kata/Dockerfile.kata.dummy
Labels: deploy

fix: add neovim packaging with qonq
  scripts/packages/Dockerfile.neovim.qonq
  scripts/packages/neovim-setup.sh
Labels: scripts

.github/labeler.yml:

automation:
  - changed-files:
      - any-glob-to-any-file:
          - .github/**

tracing:
  - changed-files:
      - any-glob-to-any-file:
          - trace/**

scripts:
  - changed-files:
      - any-glob-to-any-file:
          - scripts/**

deploy:
  - changed-files:
    - any-glob-to-any-file:
        - deploy/**
