Repository deomorxsy/kjx-headless, changes with the labels that .github/labeler.yml gives for each.
All labels: automation, tracing, scripts, deploy

.github/labeler.yml:

automation:
  - changed-files:
      - any-glob-to-any-file:
          - .github/**

tracing:
  - changed-files:
      - any-glob-to-any-file:
          - trace/**

scripts:
  - changed-files:
      - any-glob-to-any-file:
          - scripts/**

deploy:
  - changed-files:
    - any-glob-to-any-file:
        - deploy/**

fix: remove one of the conditional branches from the replace function of the qonq script
  scripts/qonq.sh
Labels: scripts

fix: change directory and return at the qonq script; add: new build badge to the README.md
  README.md
  scripts/qonq.sh
Labels: scripts

fix: cd context of qonq, minor adjust at the zip tarball filename, dropbear ssh keypair directory
  scripts/qonq.sh
Labels: scripts

fix qonq/qdb [3/n]
  scripts/qonq.sh
Labels: scripts

fix: aya build context and rustup install inside alpine
  .github/workflows/ayaya.yml
  Makefile
  compose.yml
  scripts/ayabuild.sh
  scripts/sandbox/run-qemu.sh
  trace/ayaya/Dockerfile
Labels: automation, tracing, scripts

add: script to fetch dropbear
  scripts/ssh-qemu.sh
Labels: scripts

add: bpf helper start to the libbpfgo project
  trace/exporter-libbpfgo/bpf_helpers.h
Labels: tracing

fix qonq/qdb -> distro builder [4/n]
  .github/workflows/qdb.yml
  .gitignore
  Dockerfile
  compose.yml
  scripts/full.sh
  scripts/qonq.sh
Labels: automation, scripts

fix: forgot to remove one dummy execution branch
  scripts/qonq.sh
Labels: scripts

fix: remove the secret debug print; fix directory scopes
  scripts/qonq.sh
Labels: scripts

fix: some syntax and minor changes to the workflows; bump the upload-artifact action to v4 on bee.yml
  .github/workflows/bee.yml
  .github/workflows/ci.yml
  .github/workflows/dropbear.yml
  .github/workflows/initramfs.yml
  .github/workflows/kernel.yml
Labels: automation

feat: enable squashfs support on the kernel; change trace Makefile name
  .gitignore
  .gitmodules
  assets/kernel/Dockerfile
  trace/Makefile
Labels: tracing

feat: add Dockerfile and workflow runner to generate the eltorito.img dependency for grub as xorriso's boot_image parameter
  .github/workflows/eltorito.yml
  README.md
  assets/grub/Dockerfile
Labels: automation

add: grub service to build eltorito.img
  compose.yml
Labels: none

fix: minor change to the path used to copy the artifact from the container
  .github/workflows/eltorito.yml
Labels: automation

Fix: add support for the Memory Resource Controller to the compiled kernel. This seems to be what makes writes to /sys/fs/cgroup/cgroup.subtree_control possible.
  assets/kernel/Dockerfile
Labels: none

fix: add overlay support to mount the containerd device at /tmp
  assets/kernel/Dockerfile
Labels: none

Makefile improvements [1/n]
  Makefile
Labels: none

massive fixes: distro builder [5/n]
  Dockerfile
  scripts/qemu-k3s-startup.sh
  scripts/qonq.sh
  scripts/sandbox/net-qemu_myifup.sh
  scripts/sandbox/run-qemu.sh
  scripts/squashed.sh
  scripts/usfs.sh
Labels: scripts

feat: add function to boot the final iso artifact
  scripts/sandbox/run-qemu.sh
Labels: scripts

fix: more kernel configs
  .gitmodules
  Dockerfile
  assets/kernel/Dockerfile
Labels: none

fix: more kernel configs [2/n]
  .github/workflows/kernel.yml
  assets/kernel/Dockerfile
Labels: automation

fix: path typo at the kernel Dockerfile
  assets/kernel/Dockerfile
Labels: none

fix: move the workdir outside the RUN block; feat: enable the TUN module feat: enable CONFIG_DEVTMPFS, _MOUNT and _SAFE for dynamic management of the /dev directory using devtmpfs + mdev
  assets/kernel/Dockerfile
Labels: none

add: more network virt subsystem dependencies for k3s
  assets/kernel/Dockerfile
Labels: none

fix: order of the make commands since kvm_guest.config were overwritting the .config file, which was setting off some kernel modules and not compiling them; add: missing modules from k3s
  assets/kernel/Dockerfile
Labels: none

fix: make olddefconfig after ./scripts/config setup and before make bzImage
  assets/kernel/Dockerfile
Labels: none

add: bunch of flags, including runtime verification infrastructure, hist-triggers, the CONFIG-BRIDGE_NETFILTER resolution and others related with the security flags
  assets/kernel/Dockerfile
Labels: none

fix: change NETFILTER, INET and NETFILTER_ADVANCED to built-in instead of modules
  assets/kernel/Dockerfile
Labels: none

add: fuse support for podman's fuse-overlay graphdriver
  .gitignore
  assets/kernel/Dockerfile
  scripts/qemu-k3s-startup.sh
  scripts/sandbox/run-qemu.sh
  scripts/tryout.sh
Labels: scripts

fix: switch_root scope, todo: overall cleanup, automate ./Dockerfile and qemu
  scripts/tryout.sh
Labels: scripts

add: squashfs and xorriso conditional branch, use native overlayfs instead of fuse-overlayfs due to missing features such as no daemon at startup PID 1, and user management yet to be done etc
  scripts/tryout.sh
Labels: scripts

fix: aya-rs build for the workflow runner
  .github/workflows/ayaya.yml
  compose.yml
Labels: automation

feat: add wasm-bpf support with zig, deno and typescript (lol); todo: setup the rest of the tracepoints for the source of data; finish flake manifest;
  Makefile
  compose.yml
  scripts/entrypoints/wasm-runner.sh
  trace/wasm/.gitignore
  trace/wasm/Dockerfile
  trace/wasm/build.zig
  trace/wasm/build.zig.zon
  trace/wasm/flake.nix
  trace/wasm/main.ts
  trace/wasm/src/bpf/root.zig
  trace/wasm/src/bpf/tracepoint.zig
  trace/wasm/src/bpf/xdp.zig
  trace/wasm/src/cpu_trace.zig
  trace/wasm/src/io_trace.zig
  trace/wasm/src/lsm_trace.zig
  trace/wasm/src/main.zig
  trace/wasm/src/net_trace.zig
  trace/wasm/src/ram_trace.zig
  trace/wasm/src/root.zig
  trace/wasm/src/xdp_trace.zig
Labels: tracing, scripts

feat: add basic project scaffolding for ocaml; todo: finish tracepoints with ocaml syntax
  trace/ocaml/.gitignore
  trace/ocaml/Dockerfile
  trace/ocaml/Dockerfile.utop
  trace/ocaml/src/dune-project
  trace/ocaml/src/lib/cpu.ml
  trace/ocaml/src/lib/dune
  trace/ocaml/src/lib/main.ml
  trace/ocaml/src/lib/off-cpu.ml
  trace/ocaml/src/lib/ram.ml
  trace/ocaml/src/lib/tc.ml
  trace/ocaml/src/lib/tracepoints.ml
  trace/ocaml/src/lib/xdp.ml
  trace/ocaml/src/src.opam
  trace/ocaml/src/test/dune
  trace/ocaml/src/test/test_src.ml
Labels: tracing

add: dockerfile to build libbpf
  trace/libbpf-core/Dockerfile
Labels: tracing

aya-rs build [1/n]
  Makefile
  compose.yml
  scripts/ayabuild.sh
  trace/ayaya/Cargo.lock
  trace/ayaya/Dockerfile
  trace/ayaya/justfile
Labels: tracing, scripts

fix: build aya-rs by calling the Makefile. Check if it will run and then improve with shellscript
  .github/workflows/ayaya.yml
Labels: automation

gitignore fixes [1/n]
  .gitignore
Labels: none

fix: little text about the proof-of-concept
  README.md
Labels: none
