Repository deomorxsy/kjx-headless, changes with the labels that .github/labeler.yml gives for each.
All labels: automation, tracing, scripts, deploy

fix: just remove the make job and keep the functional one.
  .github/workflows/hpota.yml
Labels: automation

fix: runit skeleton
  assets/runit/Dockerfile
  scripts/entrypoints/runit.sh
Labels: scripts

feat: add solo5 git submodule as dependency for the unikernels/mirage feature
  .gitmodules
Labels: none

non-oci spec container runtimes [1/n]
  .gitmodules
Labels: none

oci spec container runtimes [1/n]
  .gitmodules
Labels: none

bootloaders [1/n]
  .gitmodules
Labels: none

unikernels [1/n]
  .gitmodules
Labels: none

feat: add flake.nix to the project for nix package manager on constrained environments, todo: all the rest of the setup [95%]
  flake.nix
Labels: none

add: rvdsf.sh to provide useful functions for handling raw virtual disk sparse files
  scripts/isogen/rvdsf.sh
Labels: scripts

fix: add print usage and fix other typos
  scripts/isogen/rvdsf.sh
Labels: scripts

add: unikernels line and badge
  README.md
Labels: none

add: vmlinux.h header at the trace/libbpf-core/final directory add: beetor binary
  .gitignore
Labels: none

libkjx/beetor [1/n]
  scripts/libkjx/beetor/beetor.c
  scripts/libkjx/beetor/bwc.c
  scripts/libkjx/beetor/bwc_off.c
  scripts/libkjx/beetor/k3s-runner.c
  scripts/libkjx/beetor/k3s_runner.h
  scripts/libkjx/lkm/Makefile
  scripts/libkjx/lkm/main.c
  scripts/libkjx/s3_upload.c
  scripts/libkjx/static_beetor.sh
Labels: scripts

trace/libbpf-core [1/n]
  .gitignore
  trace/libbpf-core/.gitignore
  trace/libbpf-core/Makefile.ubuntu
  trace/libbpf-core/bootstrap.bpf.c
  trace/libbpf-core/bootstrap.c
  trace/libbpf-core/bootstrap.h
  trace/libbpf-core/cpu.h
  trace/libbpf-core/final/Dockerfile.ubuntu
  trace/libbpf-core/final/bits.bpf.h
  trace/libbpf-core/final/bootstrap_legacy.bpf.c
  trace/libbpf-core/final/bootstrap_legacy.c
  trace/libbpf-core/final/bpf_core_read.h
  trace/libbpf-core/final/core_fixes.bpf.h
  trace/libbpf-core/final/maps.bpf.h
  trace/libbpf-core/final/runqlat.bpf.c
  trace/libbpf-core/final/runqlat.c
  trace/libbpf-core/final/runqlat.h
  trace/libbpf-core/final/trace_helpers.c
  trace/libbpf-core/final/trace_helpers.h
  trace/libbpf-core/final/uprobe_helpers.c
  trace/libbpf-core/final/uprobe_helpers.h
  trace/libbpf-core/maps.bpf.h
Labels: tracing

fix: add beetor badge and workflow runner to the README.md
  .github/workflows/beetor.yml
  README.md
Labels: automation

libkjx/beetor [3/n]
  .github/workflows/beetor.yml
  Makefile
  compose.yml
  scripts/entrypoints/static_beetor.sh
  scripts/libkjx/beetor/bwc_off.c
  scripts/libkjx/beetor/k3s-runner.c
Labels: automation, scripts

fix: add beetor/bwc trace related entrypoints and derived artifacts
  .gitignore
Labels: none

fix: delegate either bwc and beetor rules on the Makefile to scripts in their respective function handler inside the ./scripts/entrypoints/static_beetor.sh shellscript
  Makefile
Labels: none

libkjx/beetor [4/n]
  .github/workflows/beetor.yml
  Makefile
  compose.yml
  scripts/entrypoints/static_beetor.sh
  scripts/libkjx/Dockerfile.beetor
  scripts/libkjx/Dockerfile.bwc
Labels: automation, scripts

fix: ccr.sh call arguments todo: fix ccr registry checker logic
  Makefile
  scripts/entrypoints/static_beetor.sh
Labels: scripts

fix: forget runner state at the end with entrypoint and cmd. todo: later
  scripts/libkjx/Dockerfile.beetor
  scripts/libkjx/Dockerfile.bwc
Labels: scripts

feat: add seabios as a firmware to play with bootloaders
  .gitmodules
Labels: none

feat: add librakuda as a placeholder to the actual project; add: noob scripts interfacing ocaml with libguestfs's guestfish API to deal with the qcow2 format;
  scripts/librakuda/guestkjx/idk/sum.ml
  scripts/librakuda/guestkjx/lib/modify-qcow2.ml
  scripts/librakuda/guestkjx/test/hello-world.ml
  scripts/librakuda/guestkjx/test/main_test.ml
  scripts/librakuda/veriffi/veri.v
Labels: scripts

feat: add isolinux and pxelinux formats from the SYSLINUX project to aid with the isogen section.
  scripts/bootloaders/syslinux/isolinux.sh
  scripts/bootloaders/syslinux/pxe-setup.sh
Labels: scripts

feat: add the inferno-ds port of the inferno dis virtual machine to nintendo ds
  .gitmodules
Labels: none

fix: gitmodule add path typo
  .gitmodules
Labels: none

fix: create the app directory under the user home
  scripts/libkjx/Dockerfile.beetor
  scripts/libkjx/Dockerfile.bwc
Labels: scripts

fix: install libcrypto3 and musl from the edge branch with apk-tools
  scripts/libkjx/Dockerfile.beetor
  scripts/libkjx/Dockerfile.bwc
Labels: scripts

fix: quick typo when copying from /app to '[/home/user/ -> /home/user/app/]'
  scripts/libkjx/Dockerfile.beetor
  scripts/libkjx/Dockerfile.bwc
Labels: scripts

fix: build of both bwc and beetor
  scripts/libkjx/Dockerfile.beetor
  scripts/libkjx/Dockerfile.bwc
Labels: scripts

fix: create a /etc/containers/registries.conf to tell the podman service to trust insecure registries (without https).
  scripts/entrypoints/static_beetor.sh
Labels: scripts

fix: add a json file for the docker daemon; fix: pipe the cat to the home user directory instead for rootless runs.
  scripts/entrypoints/static_beetor.sh
Labels: scripts

fix: create directories for the registries.conf pathname beforehand
  scripts/entrypoints/static_beetor.sh
Labels: scripts

fix: add new entrypoint builder for dropbear, adjust makefile and Dockerfile contexts; fix: quick typos
  .github/workflows/dropbear.yml
  Makefile
  assets/dropbear/Dockerfile
  scripts/entrypoints/build-dropbear.sh
Labels: automation, scripts

fix: create pathname for the interfaces here-doc
  assets/dropbear/Dockerfile
Labels: none

fix: add a trigger for workflow runs on their specific branches, for pull request on the branches and by schedule in main
  .github/workflows/build-core.yml
  .github/workflows/hpota.yml
  .gitignore
Labels: automation

pipelines/ci-cd [1/n]
  .github/workflows/beetor.yml
  .github/workflows/dropbear.yml
  .github/workflows/isogen/eltorito.yml
  .github/workflows/isogen/iso9660-ci.yml
  .github/workflows/isogen/qonq-qdb.yml
  .github/workflows/other/downloader.yml
  .github/workflows/other/vmdk.yml
  .github/workflows/paravirt/crosvm.yml
  .github/workflows/paravirt/rutabaga.yml
  .github/workflows/paravirt/virtio.yml
  .github/workflows/runtimes/containerd.yml
  .github/workflows/runtimes/crio.yml
  .github/workflows/runtimes/crun.yml
  .github/workflows/runtimes/docker.yml
  .github/workflows/runtimes/firecracker-ci.yml
  .github/workflows/runtimes/gvisor-ci.yml
  .github/workflows/runtimes/hlcr-aio.yml
  .github/workflows/runtimes/kata-ci.yml
  .github/workflows/runtimes/llcr-aio.yml
  .github/workflows/runtimes/microvms.yml
  .github/workflows/runtimes/podman.yml
  .github/workflows/runtimes/runc.yml
  .github/workflows/runtimes/youki.yml
  .github/workflows/testing/coverage.yml
  .github/workflows/testing/unit.yml
  .github/workflows/tracers/ayaya.yml
  .github/workflows/tracers/bpftrace-ci.yml
  .github/workflows/tracers/build-core.yml
  .github/workflows/tracers/ftrace-ci.yml
  .github/workflows/tracers/hpota.yml
  .github/workflows/tracers/libbpf-android.yml
  .github/workflows/tracers/libbpf-core.yml
  .github/workflows/tracers/libbpfgo.yml
  .github/workflows/tracers/ocaml-ci.yml
  .github/workflows/tracers/zig-wasm-ci.yml
  .github/workflows/unikernels/mirage.yml
  .github/workflows/unikernels/solo5-ukvm.yml
  .github/workflows/unikernels/unikraft.yml
  .gitignore
  README.md
Labels: automation

fix: paravirt workflow runner on. steps
  .github/workflows/paravirt/crosvm.yml
  .github/workflows/paravirt/rutabaga.yml
  .github/workflows/paravirt/virtio.yml
Labels: automation

fix: two badges with typos
  README.md
Labels: none

fix: add the assets/unikernels directory to the list in order for telescope.nvim don't recognize that directory as part of the tree
  .gitignore
Labels: none

.github/labeler.yml:

automation:
  - changed-files:
      - any-glob-to-any-file:
          - .github/**

tracing:
  - changed-files:
      - any-glob-to-any-file:
          - trace/**

scripts:
  - changed-files:
      - any-glob-to-any-file:
          - scripts/**

deploy:
  - changed-files:
    - any-glob-to-any-file:
        - deploy/**
