Repository deomorxsy/kjx-headless, changes with the labels that .github/labeler.yml gives for each.
All labels: automation, tracing, scripts, deploy

fix: quick naming typos at the references
  README.md
Labels: none

fix: pass the context of qonq-qdb package installer [1/n] into the iptables-setup.sh shellscript to leverage LSP when coding
  scripts/packages/Dockerfile.iptables.qonq
  scripts/packages/iptables-setup.sh
Labels: scripts

fix: adjust local shadow-setup to its actual name (diff: shadow.sh -> shadow-setup.sh)
  scripts/packages/Dockerfile.shadow.qonq
Labels: scripts

fix run-qemu scopes [1/n]
  Makefile
  scripts/sandbox/run-qemu.sh
Labels: scripts

fix: improve description
  README.md
Labels: none

feat: add unconditional branch and log-level checks for property-based testing at ./scripts/sandbox/run-qemu and ./scripts/isogen/rvdsf.sh.
  scripts/isogen/rvdsf.sh
  scripts/sandbox/run-qemu.sh
Labels: scripts

fix: runiso with the POC scopes and tests for quick debugging. Instead of relying into building the full-blown distro, use the default one and pass dependencies through virtfs.
  scripts/sandbox/run-qemu.sh
Labels: scripts

fix: run-qemu scopes [6/n]
  scripts/sandbox/run-qemu.sh
Labels: scripts

feat: add tests into the rvdsf.sh shellscript in order to pretty-print the state and improve debugging.
  scripts/isogen/rvdsf.sh
Labels: scripts

fix: switch between passed and failed contexts on the first test
  scripts/isogen/rvdsf.sh
Labels: scripts

fix: rename ./scripts/isogen/rootfs-bootscript.sh to just rootfs.sh on the same filepath
  scripts/isogen/rootfs.sh
Labels: scripts

feat: add buildakernel function invoking container build to get the artifact locally. Add error handling; todo: pretty-print of the scope
  scripts/isogen/bzImage.sh
Labels: scripts

feat: add functions for initramfs.cpio.gz generation locally diluted from ./scripts/tryout.sh; add: error handling and pretty-print of the scope
  scripts/isogen/initramfs.sh
Labels: scripts

feat: add ./scripts/isogen/scaffolding.sh dilluted from the ./scripts/tryout.sh ; todo: add error handling and scope pretty-printing
  scripts/isogen/scaffolding.sh
Labels: scripts

feat: add error handling on the first part of ./scripts/isogen/scaffolding.sh
  scripts/isogen/scaffolding.sh
Labels: scripts

refactor Ftrace [1/n]
  trace/Ftrace/kerfuncs.sh
Labels: tracing

refactor: add error handling for each step of the main runit setup at ./scripts/tryout.sh
  scripts/isogen/runit.sh
Labels: scripts

refactor: fix options to OCI/CRI containers and lookup when running k3s for the POC.
  scripts/isogen/oci-cri.sh
Labels: scripts

fix: call dotfiles config and then ./scripts/packages/usgp-man.sh to configure shadow and networking packages
  scripts/isogen/packaging.sh
Labels: scripts

feat: add dependency of building microvms starting with gvisor before copying those into the VIRTFS_ART_PATH so it becames available to the POC bootscript at runtime on the guest machine.
  scripts/sandbox/run-qemu.sh
Labels: scripts

fix: microvm_poc_gvisor scope to copy the gvisor-core.tar.gz into the VIRTFS_ART_PATH and make containerd runsc available as runtimeClass for k3s, at runtime on the guest machine
  scripts/sandbox/run-qemu.sh
Labels: scripts

feat: add microvm_poc_firecracker to generate the artifact with the containerd-shim-v2 runtime for k3s runtimeClass at runtime on the guest machine.
  scripts/sandbox/run-qemu.sh
Labels: scripts

feat: add beetor step of the final iso, initial stage
  scripts/isogen/beetor.sh
Labels: scripts

feat: add bootloaders step of the final iso, initial stage
  scripts/isogen/bootloaders.sh
Labels: scripts

feat: add the last step of the tryout.sh shellscript for the final iso, initial stage
  scripts/isogen/iso9660.sh
Labels: scripts

feat: add set-vars initial stage for the environment variables of the whole final iso creation, from tryout.sh, final stage
  scripts/isogen/set-vars.sh
Labels: scripts

feat: add error handling for the squashfs creation of the final stage before the iso generation, original from tryout.sh shellscript, initial stage
  scripts/isogen/squasha.sh
Labels: scripts

feat: add the entrypoint script for isogen calling all the other steps.
  scripts/isogen/main.sh
Labels: scripts

feat: add error handling into the function calls of the ./scripts/isogen/main.sh shellcript.
  scripts/isogen/main.sh
Labels: scripts

feat: add the function with error handling to reuse ./scripts/packages/usgp-man.sh into the poc with airgap_k3s later
  scripts/sandbox/run-qemu.sh
Labels: scripts

fix: add a stopping check for the OCI registry server at the end of the three microvm functions.
  scripts/sandbox/run-qemu.sh
Labels: scripts

fix: the unsquash_squashfs_sdb function to unsquash the squashfs filesystem containing the airgap images for k3s basic functionality.
  scripts/isogen/poc-bootscript.sh
Labels: scripts

fix: add error handling to the end of commands in the poc-bootscript
  scripts/isogen/poc-bootscript.sh
Labels: scripts

feat: add a tracer_type_caller function to switch between tracers when calling the poc-bootscript.
  scripts/isogen/poc-bootscript.sh
Labels: scripts

fix: tarball decompression syntax scope with tar, add: error handling and scope pretty-printing for each command that is not idempotent (like mkdir -p), also do this for the microvm steps.
  scripts/isogen/poc-bootscript.sh
Labels: scripts

fix: comment firecracker and kata before attempting to test those. Test gvisor first
  scripts/isogen/poc-bootscript.sh
Labels: scripts

feat: add the ./scripts/isogen/poc-bootscript.sh shellscript to the VIRTFS_ART_PATH as a helper so you can actually call that at runtime inside the guest vm.
  scripts/sandbox/run-qemu.sh
Labels: scripts

fix: add a function to clean airgap artifacts and then run it from the start
  scripts/sandbox/run-qemu.sh
Labels: scripts

fix: add a function to clean airgap artifacts and then run it from the start
  scripts/sandbox/run-qemu.sh
Labels: scripts

fix: add error handling and pretty printing for the bpftrace_function of poc-bootscript.sh
  scripts/isogen/poc-bootscript.sh
Labels: scripts

.github/labeler.yml:

automation:
  - changed-files:
      - any-glob-to-any-file:
          - .github/**

tracing:
  - changed-files:
      - any-glob-to-any-file:
          - trace/**

scripts:
  - changed-files:
      - any-glob-to-any-file:
          - scripts/**

deploy:
  - changed-files:
    - any-glob-to-any-file:
        - deploy/**
