Repository deomorxsy/kjx-headless, changes with the labels that .github/labeler.yml gives for each.
All labels: automation, tracing, scripts, deploy

.github/labeler.yml:

automation:
  - changed-files:
      - any-glob-to-any-file:
          - .github/**

tracing:
  - changed-files:
      - any-glob-to-any-file:
          - trace/**

scripts:
  - changed-files:
      - any-glob-to-any-file:
          - scripts/**

deploy:
  - changed-files:
    - any-glob-to-any-file:
        - deploy/**

fix: add bpftrace syscripts for cpu and sycalls with kprobes
  trace/bpftrace/cpu.bt
  trace/bpftrace/syscalls-kprobe.bt
Labels: tracing

calling ebpf from jvm [1/n]
  trace/jvm/yava/.mvn/jvm.config
  trace/jvm/yava/.mvn/maven.config
  trace/jvm/yava/pom.xml
  trace/jvm/yava/src/main/java/com/kjx/app/App.java
  trace/jvm/yava/src/main/java/com/kjx/app/Firewall.java
  trace/jvm/yava/src/test/java/com/kjx/app/AppTest.java
  trace/jvm/yava/src/test/java/com/kjx/app/Firewall.java
Labels: tracing

calling ebpf from jvm [2/n]
  trace/jvm/kotlin/.gitattributes
  trace/jvm/kotlin/.gitignore
  trace/jvm/kotlin/app/build.gradle.kts
  trace/jvm/kotlin/app/src/main/kotlin/org/example/app/App.kt
  trace/jvm/kotlin/app/src/main/kotlin/org/example/app/Firewall.kt
  trace/jvm/kotlin/app/src/main/kotlin/org/example/app/MessageUtils.kt
  trace/jvm/kotlin/app/src/test/kotlin/org/example/app/Firewall.kt
  trace/jvm/kotlin/app/src/test/kotlin/org/example/app/MessageUtilsTest.kt
  trace/jvm/kotlin/buildSrc/build.gradle.kts
  trace/jvm/kotlin/buildSrc/settings.gradle.kts
  trace/jvm/kotlin/buildSrc/src/main/kotlin/buildlogic.kotlin-application-conventions.gradle.kts
  trace/jvm/kotlin/buildSrc/src/main/kotlin/buildlogic.kotlin-common-conventions.gradle.kts
  trace/jvm/kotlin/buildSrc/src/main/kotlin/buildlogic.kotlin-library-conventions.gradle.kts
  trace/jvm/kotlin/gradle.properties
  trace/jvm/kotlin/gradle/libs.versions.toml
  trace/jvm/kotlin/gradle/wrapper/gradle-wrapper.jar
  trace/jvm/kotlin/gradle/wrapper/gradle-wrapper.properties
  trace/jvm/kotlin/gradlew
  trace/jvm/kotlin/gradlew.bat
  trace/jvm/kotlin/list/build.gradle.kts
  trace/jvm/kotlin/list/src/main/kotlin/org/example/list/LinkedList.kt
  trace/jvm/kotlin/list/src/test/kotlin/org/example/list/LinkedListTest.kt
  trace/jvm/kotlin/settings.gradle.kts
  trace/jvm/kotlin/utilities/build.gradle.kts
  trace/jvm/kotlin/utilities/src/main/kotlin/org/example/utilities/JoinUtils.kt
  trace/jvm/kotlin/utilities/src/main/kotlin/org/example/utilities/SplitUtils.kt
  trace/jvm/kotlin/utilities/src/main/kotlin/org/example/utilities/StringUtils.kt
Labels: tracing

feat: add a little bit of documentation for jvm languages calling ebpf;
  trace/jvm/README.md
Labels: tracing

fix: add libbpf-core cpu.bpf intermediate files to the .gitignore
  .gitignore
Labels: none

fix: rename ./scripts/packages/llcr-aio.sh and ./scripts/packages/hlcr-aio.sh to ./scripts/entrypoints as directory path
  scripts/entrypoints/hlcr-aio.sh
  scripts/entrypoints/llcr-aio.sh
Labels: scripts

fix: filename for both the llcr-aio and hlcr-aio shellscripts
  Makefile
Labels: none

fix: rename the action for ./.github/workflows/llcr-aio.yml ti llcr-aio
  .github/workflows/llcr-aio.yml
Labels: automation

fix: remove dependencies for the llcr-aio target
  Makefile
Labels: none

fix: add packaging pattern of [qonq_name] for every option of hlcr and llcr
  Makefile
Labels: none

fix: put microvms-aio, hlcr-aio, llcr-aio and isogen9660-ci badges into the packaging section.
  README.md
Labels: none

fix: rename Makefile target call from podman to [qonq_podman].
  .github/workflows/podman.yml
Labels: automation

fix: filepath to the podman-setup.sh which gets copied inside the builder build stage on the Dockerfile.podman.qonq
  scripts/packages/Dockerfile.podman.qonq
Labels: scripts

fix: add the custom registries.conf exporting the [CONTAINERS_REGISTRIES_CONF] environment for [set_podman] function
  scripts/entrypoints/hlcr-aio.sh
Labels: scripts

fix: copy the right tarball filepath at the [./scripts/packages/Dockerfile.podman.qonq] and enable the podman-tarball option for local file environment variable at [./scripts/packages/podman-setup.sh]
  scripts/packages/Dockerfile.podman.qonq
  scripts/packages/podman-setup.sh
Labels: scripts

fix: add another error handling for the last loop with ldd as well as pretty-printing of the scope to the [./scripts/packages/demo-replased.sh]
  scripts/packages/demo-replased.sh
Labels: scripts

fix: comment the last control flow loop with ldd due to binaries already showing up with apk info -L
  scripts/packages/demo-replased.sh
Labels: scripts

fix: rename the pretty-print scope filepath referencing the same file, from [./scripts/sandbox/run-qemu.sh] to [./scripts/entrypoints/hlcr-aio.sh]
  scripts/entrypoints/hlcr-aio.sh
Labels: scripts

./scripts/packages/podman-setup.sh [9/n]
  scripts/packages/podman-setup.sh
Labels: scripts

fix: copy the [demo-replased] template into the same filepath with /app as the repository root
  scripts/packages/Dockerfile.podman.qonq
Labels: scripts

fix: from [qonq_podman], copy the [/app/podman-tarball-pkg.tar.gz] with binaries, shared objects and dotfiles/config-files in only one tarball instead
  scripts/entrypoints/hlcr-aio.sh
Labels: scripts

fix: do NOT check every submodule with the [actions/checkout@v6] to save build time
  .github/workflows/podman.yml
Labels: automation

fix: add the main categories's badges to fetch build status from the iso9660 branch at the ./README.md
  .github/workflows/build-core.yml
  .github/workflows/crun.yml
  .github/workflows/ftrace-ci.yml
  .github/workflows/runc.yml
  .github/workflows/runit-ci.yml
  README.md
Labels: automation

fix: do NOT check every submodule with the [actions/checkout@v6] to save build time [3/n]
  .github/workflows/bpftrace-ci.yml
  .github/workflows/containerd.yml
  .github/workflows/crio.yml
  .github/workflows/hlcr-aio.yml
  .github/workflows/libbpf-android.yml
  .github/workflows/llcr-aio.yml
  .github/workflows/mirage.yml
  .github/workflows/paravirt-aio.yml
  .github/workflows/rutabaga.yml
  .github/workflows/solo5-ukvm.yml
  .github/workflows/tracers-aio.yml
  .github/workflows/unikernels-aio.yml
  .github/workflows/unikraft.yml
  .github/workflows/virtio.yml
  .github/workflows/youki.yml
Labels: automation

feat: add the qonq_bpftrace packaging target on [./compose.yml]
  compose.yml
Labels: none

fix: uncomment some lines that were commented because of submodules under assets that were noisy when looking for local changes in git
  .gitignore
Labels: none

feat: add the target qonq_bpftrace to Makefile calling the tarball
  Makefile
Labels: none

fix: make calls to [qonq_name] instead of [mvm_name] or others at the workflow runners
  .github/workflows/firecracker-ci.yml
  .github/workflows/gvisor-ci.yml
  .github/workflows/hlcr-aio.yml
  .github/workflows/kata-ci.yml
  .github/workflows/llcr-aio.yml
  .github/workflows/microvms-aio.yml
Labels: automation

fix: adjust microvm calls to the qonq package naming [qonq_name]
  Makefile
Labels: none

fix: change the mvm-aio to the [tarball] option to put the three microvm dependencies inside a single tarball; todo: a squashfs function in the future instead, if too big
  scripts/entrypoints/microvms.sh
Labels: scripts

fix: add error handling and scope pretty-printing for [set_tarball] function at [hlcr-aio.sh]
  scripts/entrypoints/hlcr-aio.sh
Labels: scripts

fix: add error handling and scope pretty-printing for [set_tarball] function at [llcr-aio.sh]
  scripts/entrypoints/llcr-aio.sh
Labels: scripts

fix: make a call to the qonq_bpftrace rule
  .github/workflows/bpftrace-ci.yml
Labels: automation

feat: add the tracers-aio to build OCI images with tracer dependencies; starting with bpftrace.
  scripts/entrypoints/tracers-aio.sh
Labels: scripts

fix: make a call to the specific function to build bpftrace inside [./scripts/packages/tracers-aio.sh] instead
  Makefile
Labels: none

fix: rename llcr-aio ocurrences to hlcr-aio
  scripts/entrypoints/hlcr-aio.sh
Labels: scripts

fix: adjust dependencies and scopes for building qonq_bpftrace following the pattern used by qonq_podman
  scripts/packages/Dockerfile.bpftrace.qonq
  scripts/packages/bpftrace-setup.sh
Labels: scripts

fix: adjust the MODE Variable for some llcr-aio builds, also call the tarball
  Makefile
Labels: none

fix: filepath for the [tracers-aio.sh] when calling [qonq_bpftrace]
  Makefile
Labels: none

fix: clean unused and add file bits modification with execution before calling the [set_bpftrace_deps] function
  scripts/packages/bpftrace-setup.sh
Labels: scripts
