Repository deomorxsy/kjx-headless, changes with the labels that .github/labeler.yml gives for each.
All labels: automation, tracing, scripts, deploy

fix: rename the build artifact to qemu-tarball
  .github/workflows/packaging_qemukjx.yml
Labels: automation

fix: organize [QEMUKJX], [ISOGEN] and [RUNISO] sections on the Makefile
  Makefile
Labels: none

fix: add [core_routine], [set_shadow_deps] and [set_shadow_tarball] functions to ./scripts/packages/shadow-setup.sh
  scripts/packages/shadow-setup.sh
Labels: scripts

fix: add the overall [set-shadow] function setup from the qonq-qdb packaging
  scripts/packages/usgp-man.sh
Labels: scripts

fix: adjust Dockerfile.shadow.qonq to the qonq-qdb packaging
  scripts/packages/Dockerfile.shadow.qonq
Labels: scripts

fix: add the packages that are being installed on the [./scripts/packages/Dockerfile.shadow.qonq]
  scripts/packages/shadow-setup.sh
Labels: scripts

fix: copy the [demo-replased.sh] script to /app as the root of the repository on the Dockerfile.shadow.qonq and make a function call to shadow-tarball instead
  scripts/packages/Dockerfile.shadow.qonq
Labels: scripts

fix: enable to call for the [shadow-tarball] option on the function conditional flow
  scripts/packages/shadow-setup.sh
Labels: scripts

fix: call the [shadow-tarball-pkg.tar.gz] when copying the artifact ouside! \o/
  .github/workflows/packaging_shadow.yml
Labels: automation

fix: add [core_routine], [set_kata_deps] and [set_kata_tarball] functions to the ./scripts/sandbox/kata-startup.sh; also edit the program CLI interface
  scripts/sandbox/kata-startup.sh
Labels: scripts

fix: add a caller function to request the kata-tarball from [./scripts/sandbox/kata-startup.sh]
  deploy/microvm/kata/Dockerfile
Labels: deploy

fix: add this Dockerfile for qonq packaging; todo: it needs further coding before becoming useful.
  deploy/microvm/kata/Dockerfile.kata.qonq
Labels: deploy

fix: quick typo when defining the record-airgap rule at the ./Makefile: change the name or it will raise warnings telling that Makefile:617 will override Makefile:607.
  Makefile
Labels: none

fix: quick typo and change every ocurrence of firecracker-core.tar.gz to firecracker-tarball-pkg.tar.gz
  deploy/microvm/firecracker/Dockerfile
Labels: deploy

fix: adjust name of the microvm artifacts to align with packaging.
  scripts/entrypoints/microvms.sh
Labels: scripts

fix: add zstd to decompress the tar.zst tarball
  deploy/microvm/kata/Dockerfile.kata.qonq
Labels: deploy

fix: typo when finishing the error handling of kata-bin-pkg.tar.gz
  scripts/entrypoints/microvms.sh
Labels: scripts

fix: add a shared volume to the kata target for the kata-static.tar.zst
  compose.yml
Labels: none

fix: add error handling and interoperability with shared volumes defined onto the ./compose.yml beforehand to leverage the huge kata-static.tar.zst image.
  scripts/sandbox/kata-startup.sh
Labels: scripts

fix: adjust the hard-coded name to the variable name to get the full path at the kata-startup shellscript
  scripts/sandbox/kata-startup.sh
Labels: scripts

fix: add two artifact archiving steps for both kata-tarball and kata-bin
  .github/workflows/kata-ci.yml
Labels: automation

fix: COPY the artifact of the kata tarball that MAY or MAY NOT exist locally into the /helper directory inside the container for Docker.kata.qonq
  deploy/microvm/kata/Dockerfile.kata.qonq
Labels: deploy

fix: change from packaging to microvms the name of the directory where the [kata-bin-pkg.tar.gz] is supposed to be found
  .github/workflows/kata-ci.yml
Labels: automation

fix: start runit packaging, rename the older config file from entrypoints to packages and utils
  scripts/packages/runit-setup.sh
Labels: scripts

fix: add some notes in this one but ultimately it will serve to build the musl one from source
  deploy/microvm/kata/Dockerfile
Labels: deploy

fix: this script is old but let it stay put on the packages; todo: refactor later
  scripts/packages/install_grub.sh
Labels: scripts

fix: no use for this one. Let it stay put here until I remember what was I trying to do when I first wrote this little guy
  scripts/isogen/demo-run-qemu.sh
Labels: scripts

chore: remove most of the unused functions at the start of the file so I can manually check for the head the file and pipe it to sed or if the action at runtime was ran
  deploy/microvm/kata/Dockerfile.kata.qonq
Labels: deploy

fix: add a call to packaging for shadow at [./scripts/sandbox/run-qemu.sh]
  scripts/sandbox/run-qemu.sh
Labels: scripts

fix: add a call to packaging for gvisor at [./scripts/sandbox/run-qemu.sh]
  scripts/sandbox/run-qemu.sh
Labels: scripts

chore: cleanup the [microvm_poc_gvisor] function
  scripts/sandbox/run-qemu.sh
Labels: scripts

chore: cleanup the [microvm_poc_firecracker] function
  scripts/sandbox/run-qemu.sh
Labels: scripts

chore: cleanup the [microvm_poc_kata] function
  scripts/sandbox/run-qemu.sh
Labels: scripts

fix: refactor the functions kjx, debug, thirdver and dropbear with the new variable name for [MACADDRESS]
  scripts/sandbox/run-qemu.sh
Labels: scripts

fix: add a call for firecracker to copy both tarball inside the VIRTFS_ART_PATH
  scripts/sandbox/run-qemu.sh
Labels: scripts

fix: rename all ocurrences of gvisor tarball variable calling to follow the pattern word
  scripts/sandbox/run-qemu.sh
Labels: scripts

fix: copy the firecracker-tarball-pkg.tar.gz to /app, adjusting on [./scripts/entrypoints/microvms.sh] and [./deploy/microvm/firecracker/Dockerfile]
  deploy/microvm/firecracker/Dockerfile
  scripts/entrypoints/microvms.sh
Labels: scripts, deploy

fix: git move the wget-lists to ./scripts/packages/fetchlists; add: some items to the .gitignore
  .gitignore
  artifacts/wget-checksums.txt
  scripts/packages/fetchlist/wget-checksums.txt
  scripts/packages/fetchlist/wget-list-bin.txt
  scripts/packages/fetchlist/wget-list-compile.txt
  scripts/packages/fetchlist/wget-list-custom.txt
Labels: scripts

fix: add [Create EFI.img artifact] and [FINISH ISOLINUX] stages to the ./scripts/isogen/bootloaders.sh
  scripts/isogen/bootloaders.sh
Labels: scripts

fix: add the [old_ko_fetch] function to [./scripts/isogen/bzImage.sh]
  scripts/isogen/bzImage.sh
Labels: scripts

.github/labeler.yml:

automation:
  - changed-files:
      - any-glob-to-any-file:
          - .github/**

tracing:
  - changed-files:
      - any-glob-to-any-file:
          - trace/**

scripts:
  - changed-files:
      - any-glob-to-any-file:
          - scripts/**

deploy:
  - changed-files:
    - any-glob-to-any-file:
        - deploy/**
