Repository deomorxsy/kjx-headless, changes with the labels that .github/labeler.yml gives for each.
All labels: automation, tracing, scripts, deploy

.github/labeler.yml:

automation:
  - changed-files:
      - any-glob-to-any-file:
          - .github/**

tracing:
  - changed-files:
      - any-glob-to-any-file:
          - trace/**

scripts:
  - changed-files:
      - any-glob-to-any-file:
          - scripts/**

deploy:
  - changed-files:
    - any-glob-to-any-file:
        - deploy/**

fix: bump the syntax of all rules calling the ccr script for the podman service instead of docker daemon
  Makefile
Labels: none

isogen/iso9660 [4/n]
  scripts/entrypoints/microvms.sh
  scripts/sandbox/gvisor-startup.sh
Labels: scripts

fix: gvisor ci: keep registry logic inside the workflow runner, and build on the usual workflow.
  .github/workflows/gvisor-ci.yml
Labels: automation

fix: kata-containers workflow runner; feat: add compose rules for both kata and firecracker now.
  .github/workflows/kata-ci.yml
  compose.yml
Labels: automation

feat: add firecracker and kata Dockerfile.
  deploy/microvm/firecracker/Dockerfile
  deploy/microvm/kata/Dockerfile
Labels: deploy

fix: kata and firecracker workflow runners
  .github/workflows/firecracker-ci.yml
  .github/workflows/kata-ci.yml
Labels: automation

fix: gvisor help message typo
  scripts/sandbox/gvisor-startup.sh
Labels: scripts

fix: call the respective compose rules for both firecracker and kata from ./scripts/entrypoints/microvms.sh
  scripts/entrypoints/microvms.sh
Labels: scripts

fix: add a fetch release function for firecracker, passing
  scripts/sandbox/firecracker-startup.sh
Labels: scripts

fix: add no-cache as build option for kata and firecracker
  scripts/entrypoints/microvms.sh
Labels: scripts

fix: kata and firecracker Dockerfiles for a less breaking state. Still breaking though; todo: solve firecracker build and arch interop with k3s
  deploy/microvm/firecracker/Dockerfile
  deploy/microvm/kata/Dockerfile
Labels: deploy

fix: add a function to create a raw virtual disk sparse file (rvdsf) from the old eulab-poc repo. It creates the rvdsf since the git sparse-checkout in cone mode destroyed utils assets.
  scripts/sandbox/run-qemu.sh
Labels: scripts

fix: adjust llcr, hlcr and microvm for bwc_off bee monitor (beetor)
  scripts/libkjx/beetor/bwc_off.c
Labels: scripts

monitoring [1/n]
  scripts/monitor/grafana.sh
  scripts/monitor/scorch.sh
Labels: scripts

feat: add conntrack dependencies to the kernel build for iptables
  assets/kernel/Dockerfile
Labels: none

fix: normalize shellscript with good practices instead of that mess without consistency [1/n]
  scripts/sandbox/run-qemu.sh
Labels: scripts

k3s scripts [1/n]
  scripts/sandbox/k3s-install.sh
  scripts/sandbox/k3s-killer.sh
  scripts/sandbox/k3s-runtimeClass.sh
Labels: scripts

run-qemu scripts [1/n]
  scripts/isogen/rvdsf.sh
  scripts/qemu-k3s-startup.sh
  scripts/sandbox/run-qemu.sh
Labels: scripts

fix: use uppercase AS instead of lowercase.
  deploy/microvm/gvisor/Dockerfile
Labels: deploy

fix: adjust naming of the build from beetor to runit. todo: all the rest of the fetching
  scripts/ci-cd/fa-gha.sh
Labels: scripts

feat: add a record-runiso rule to Makefile to export a lightweight artifact to be played later still acting like a POC.
  Makefile
Labels: none

fix: since the dot command does not support arguments in sh/dash, set them as variables for runiso. Rename it to MODE instead
  Makefile
  scripts/ci-cd/fa-gha.sh
Labels: scripts

fix: create a config.json for microvms in the docker daemon format with here-doc and a shellscript instead a hardcoded yaml
  deploy/microvm/gvisor/sandbox-json.sh
  deploy/microvm/gvisor/sandbox.json
Labels: deploy

fix: put set_vars environment variables setting in a global scope so the LSP can find where the variables were (or were not) used.
  scripts/tryout.sh
Labels: scripts

fix: bump alpine version to 3.22
  assets/grub/Dockerfile
Labels: none

fix: set a multi-stage container image to fetch artifacts
  deploy/microvm/firecracker/Dockerfile
Labels: deploy

fix: add firecracker_containerd function to setup the shim-v2; todo: finish logic
  scripts/sandbox/firecracker-startup.sh
Labels: scripts

fix: put the first step into a function and then adjust here-doc to posix compliance
  scripts/sandbox/kata-startup.sh
Labels: scripts

fix: normalize fullname paths to reference a variable into the tryout shellscript; todo: finish all of them
  scripts/tryout.sh
Labels: scripts

fix: put the bootscript from tryout.sh into a rootfs specific bootscript under the isogen scripts directory
  scripts/isogen/rootfs-bootscript.sh
Labels: scripts

fix: put the ./scripts/qemu-k3s-startup.sh into a initramfs-specific bootscript so it starts kernel modules before the pivot_root part of the rootfs script.
  scripts/isogen/initramfs-bootscript.sh
Labels: scripts

user management and network setup [1/n]
  scripts/packages/Dockerfile.iptables
  scripts/packages/Dockerfile.iptables.qonq
  scripts/packages/Dockerfile.shadow.qonq
  scripts/packages/usgp-man.sh
Labels: scripts

fix: change package from shadow to iptables here
  scripts/packages/Dockerfile.iptables.qonq
Labels: scripts

fix: organize assets
  .gitmodules
  Makefile
  scripts/packages/Dockerfile.shadow.qonq
  scripts/packages/shadow-setup.sh
Labels: scripts

fix: add remaining trace dependencies (blazesym, bpftool) into ./assets/tracers/
  .gitignore
  .gitmodules
Labels: none

fix: move core bootscripts, the isogen steps, from ./assets to ./deploy/isogen
  .gitignore
  compose.yml
  deploy/isogen/busybox/.dockerignore
  deploy/isogen/busybox/.gitkeep
  deploy/isogen/busybox/Dockerfile
  deploy/isogen/dropbear/Dockerfile
  deploy/isogen/grub/Dockerfile
  deploy/isogen/kernel/.gitkeep
  deploy/isogen/kernel/Dockerfile
  deploy/isogen/kernel/Dockerfile.modules
  deploy/isogen/runit/Dockerfile
Labels: deploy

fix: rename the job for retrieving qonq-qdb packaging
  .github/workflows/iso9660-ci.yml
Labels: automation

fix: add section for the hlcr; todo: implement logic
  Dockerfile
Labels: none

fix: adjust citation.cff file to the accepted pattern
  CITATION.cff
Labels: none

fix: remove shellscript syntax of defining a sha-bang header
  scripts/packages/Dockerfile.shadow.qonq
Labels: scripts
