Repository deomorxsy/kjx-headless, changes with the labels that .github/labeler.yml gives for each.
All labels: automation, tracing, scripts, deploy

chore: clean unused, commented bits of the podman-setup.sh script
  scripts/packages/podman-setup.sh
Labels: scripts

fix: adjust filepath of the [bpftrace-setup.sh] to be the same as the local, only with /app serving as the new root of the repository
  scripts/packages/Dockerfile.bpftrace.qonq
Labels: scripts

fix: rename the variable from PODMAN_ to PKGNAME_ and on the [script-setup.sh] call sed to change this as well since there will be only 3 ocurrences
  scripts/packages/demo-replased.sh
Labels: scripts

fix: on bpftrace-setup.sh, call sed to rename the variable from [PKGNAME_PKGDEPS_PLACEHOLDER] to [BPFTRACE_PKGDEPS_PLACEHOLDER].
  scripts/packages/bpftrace-setup.sh
Labels: scripts

fix: on podman-setup.sh, call sed to rename the variable from [PKGNAME_PKGDEPS_PLACEHOLDER] to [PODMAN_PKGDEPS_PLACEHOLDER].
  scripts/packages/podman-setup.sh
Labels: scripts

fix: overall logic of the bpftrace tarball which shall be merged into the other packaging.
  scripts/packages/Dockerfile.bpftrace.qonq
  scripts/packages/bpftrace-setup.sh
  scripts/packages/demo-replased.sh
Labels: scripts

fix: overall logic regarding tracers-aio and the calling for building bpftrace which were the topic of the latest commits
  scripts/entrypoints/tracers-aio.sh
Labels: scripts

fix: return the return to the calling of [deślist-replaSED_]. ...[PASSING] at the qonq_bpftrace build
  scripts/packages/bpftrace-setup.sh
Labels: scripts

fix: copy the bpftrace tarball into the virtfs path, add an instruction to the function clean_airgap to also remove this artifact
  scripts/sandbox/run-qemu.sh
Labels: scripts

fix: finish error message in the sed command invocation and return 1 accordingly
  scripts/packages/bpftrace-setup.sh
Labels: scripts

fix: add the [core_routine] function pattern from bpftrace-setup.sh to iptables-setup.sh, adjust its scope by the packages defined on its Dockerfile.iptables.qonq
  scripts/packages/iptables-setup.sh
Labels: scripts

fix: add the rest of the set_iptables_tarball from the packaging pattern
  scripts/packages/iptables-setup.sh
Labels: scripts

fix: add the option to call for iptables-tarball; todo: set this right into the Dockerfile.iptables.qonq
  scripts/packages/iptables-setup.sh
Labels: scripts

fix: comment both calls for iptables-so and iptables-bin and call instead for iptables-tarball, then copy the artifact to /app if it exists; todo: chore later
  scripts/packages/Dockerfile.iptables.qonq
Labels: scripts

fix: add [set_iptables_deps] function to [setup-iptables.sh], now run tests and if it pass comment everything else; todo: chore cleanup of comments if it passes
  scripts/packages/iptables-setup.sh
Labels: scripts

fix: typo that triggers the error [unexpected end of statement while looking for matching double-quote] at the Dockerfile.iptables.qonq
  scripts/packages/Dockerfile.iptables.qonq
Labels: scripts

fix: copy the [demo-replased.sh] to /app beforehand
  scripts/packages/Dockerfile.iptables.qonq
Labels: scripts

fix: copy the [/app/iptables-tarball-pkg.tar.gz] into the [PACKAGING_ART_DIR=./artifacts/packaging] at the [usgp-man.sh] which is the caller
  scripts/packages/usgp-man.sh
Labels: scripts

fix: comment the copy of both iptables-so and iptables-bin tarball and let only the full tarball artifact generation at [usgp-man.sh]
  scripts/packages/usgp-man.sh
Labels: scripts

feat: add variables, a call to [usgp-man.sh] to build iptables and copy the artifact into [VIRTFS_PATH=./artifacts/qemu-sink] before starting [airgap_k3s] at the ./scripts/sandbox/run-qemu.sh
  scripts/sandbox/run-qemu.sh
Labels: scripts

fix: a previous, unused function regarding packaging that was poorly written. It still is but now it does not raise an error anymore
  scripts/sandbox/run-qemu.sh
Labels: scripts

fix: call the new iptables-tarball-pkg.tar.gz, comment the rest; chore: cleanup comments later
  .github/workflows/packaging_iptables.yml
Labels: automation

feat: add a packaging for the poc runtime environment, with variables coming from either ./scripts/isogen/poc-bootscripts.sh and ./scripts/sandbox/run-qemu.sh
  scripts/isogen/packaging.sh
Labels: scripts

fix: call make to build qonq_qemukjx; todo: syncup with compose later
  .github/workflows/packaging_qemukjx.yml
Labels: automation

fix: add qonq_qemukjx instead of the dangling one. Now get the tarball and use that on the poc to build the ISO9660 with the virtio pass-through
  compose.yml
Labels: none

fix: rename to qonq_qemukjx to get the tarball of dependencies to actually build the iso9660 accordingly
  Makefile
Labels: none

feat: add poc-aio.sh, the entrypoint script to build kjx-poc environments using the packaging pattern
  scripts/entrypoints/poc-aio.sh
Labels: scripts

fix: quick typo from ./artifacts/microvms to ./artifacts/packaging on the comments
  scripts/packages/usgp-man.sh
Labels: scripts

fix: add the base Dockerfile for qonq_qemukjx packaging
  scripts/packages/Dockerfile.qemukjx.qonq
  scripts/packages/qemukjx-setup.sh
Labels: scripts

fix: adjust the name of the entrypoint for the qonq_qemukjx rule
  Makefile
Labels: none

fix: adjust the name of the function to call [./scripts/entrypoints/poc-aio.sh]
  Makefile
Labels: none

fix: add the [PACKAGING_ART_DIR=./artifacts/packaging] environment variable to poc-aio.sh
  scripts/entrypoints/poc-aio.sh
Labels: scripts

fix: name of the workflow runner to qonq_qemukjx
  .github/workflows/packaging_qemukjx.yml
Labels: automation

fix: naming of the qemu-qdb: show the build for qonq_qemukjx instead coming from the workflow runner with same name, as a badge
  README.md
Labels: none

fix: rename the container to be run/created to qonq_qemukjx
  .github/workflows/packaging_qemukjx.yml
Labels: automation

fix: change the name of the qonq_qemukjx container so podman can find it
  .github/workflows/packaging_qemukjx.yml
  compose.yml
Labels: automation

fix: quick typo from ./poc-aio.sh.sh to ./poc-aio.sh
  scripts/entrypoints/poc-aio.sh
Labels: scripts

fix: define the archive-build-artifact again due the image not being that bloated. It's only 37MB so it's ok.
  .github/workflows/packaging_qemukjx.yml
Labels: automation

fix: snatch the code from shadow example and create the stalled, build container only for copying artifacts from and within. Use the naming and I guess that's it.
  .github/workflows/packaging_qemukjx.yml
Labels: automation

fix: change filepath for the qemukjx-tarball-pkg.tar.gz to [/app] \o/
  .github/workflows/packaging_qemukjx.yml
Labels: automation

.github/labeler.yml:

automation:
  - changed-files:
      - any-glob-to-any-file:
          - .github/**

tracing:
  - changed-files:
      - any-glob-to-any-file:
          - trace/**

scripts:
  - changed-files:
      - any-glob-to-any-file:
          - scripts/**

deploy:
  - changed-files:
    - any-glob-to-any-file:
        - deploy/**
