Repository deomorxsy/kjx-headless, changes with the labels that .github/labeler.yml gives for each.
All labels: automation, tracing, scripts, deploy

fix: commnent the OCI registry server run and the push commands from docker since it is already done by the specific function on the shellscript which the Makefile invokes
  .github/workflows/firecracker-ci.yml
  .github/workflows/kata-ci.yml
Labels: automation

fix: let only the make script to invoke the respective shellscript function without uploading the artifacts
  .github/workflows/firecracker-ci.yml
  .github/workflows/gvisor-ci.yml
  .github/workflows/kata-ci.yml
Labels: automation

fix: replace the link for the microvms-aio.yml workflow runner to get the badge working
  README.md
Labels: none

fix: update README.md isogen9660 badges for microvms
  README.md
Labels: none

fix: run-qemu shellscript, stable version for airgap+airgap_clean
  scripts/sandbox/run-qemu.sh
Labels: scripts

fix: finish translating the demo-network part of the Makefile to ash shellscript
  scripts/sandbox/firecracker-startup.sh
Labels: scripts

fix: add scripts to create tarballs for both shared object dependencies and binaries related to iptables configuration with musl.
  scripts/packages/iptables-setup.sh
Labels: scripts

fix: WARN FromAsCasing - [as] and [FROM] keywords casing did not matched at line 2 and 67. Setting all to uppercase at the Dockerfile.iptables.qonq
  scripts/packages/Dockerfile.iptables.qonq
Labels: scripts

fix: quick typo on the usgp-man and finally fixing up the iptables Dockerfile to generate two tarballs for SO and BIN. todo: rebuild logic
  scripts/packages/iptables-setup.sh
  scripts/packages/usgp-man.sh
Labels: scripts

packaging [11/n]
  .github/workflows/packaging_iptables.yml
  .github/workflows/packaging_shadow.yml
  README.md
  scripts/packages/usgp-man.sh
Labels: automation, scripts

fix: bump version of the actions/checkout@v4 to actions/checkout@v6 for the packaging workflow runners
  .github/workflows/packaging_iptables.yml
  .github/workflows/packaging_shadow.yml
Labels: automation

fix: adjust names of packaging builds qonq-shadow and qonq_iptables to keep consistency across different contexts, now the call goes to qonq_shadow and qonq_iptables in most of the environments
  Makefile
Labels: none

fix: typo [OCI registry sever] -> [OCI registry server]
  scripts/packages/usgp-man.sh
Labels: scripts

fix: welp, it seems awk will always return a [0] for sucess so just grep and get the false boolean so it can trigger the desired routines; do it for both checks
  scripts/packages/usgp-man.sh
Labels: scripts

fix: add the fixed Dockerfile for packaging iptables and generate the tarballs. It should pass with this commit.
  scripts/packages/Dockerfile.iptables.qonq
Labels: scripts

fix: adjust the second check to not pipe the result to awk and just grep the podman image,reference to the penultimate commit in ./scripts/pacages/usgp-man.sh
  scripts/packages/usgp-man.sh
Labels: scripts

fix: typo [OCI registry sever] -> [OCI registry server] [2/n]
  scripts/entrypoints/microvms.sh
  scripts/sandbox/run-qemu.sh
Labels: scripts

fix llcr-aio [1/n]
  compose.yml
  scripts/packages/llcr-aio.sh
  scripts/packages/podman-setup.sh
Labels: scripts

fix llcr-aio [2/n]
  scripts/packages/Dockerfile.podman.qonq
  scripts/packages/llcr-aio.sh
  scripts/packages/podman-setup.sh
Labels: scripts

fix: first batch of dependencies for podman leveraging apk to create and move tarballs across distros
  scripts/packages/podman-setup.sh
Labels: scripts

fix: set error handling and pretty printing for set_podman_deps
  scripts/packages/podman-setup.sh
Labels: scripts

fix: remove most of the chore from the shadow Dockerfile packaging
  scripts/packages/podman-setup.sh
Labels: scripts

feat: add bpftrace-setup.sh with the packaging logic from podman-setup.sh, now all packaging will hold this logic onwards
  scripts/packages/bpftrace-setup.sh
Labels: scripts

fix: add targets for LLCR packaging with crun, runc, youki and containerd
  compose.yml
Labels: none

fix: add targets for HLCR packaging with podman, docker and crio
  compose.yml
Labels: none

fix: use uppercase AS instead of lowercase in the FROM ... AS... Dockerfile syntax to avoid warnings
  scripts/packages/Dockerfile.shadow.qonq
Labels: scripts

fix: adjust all base options for LLCR dependency generation at the ./scripts/packages/llcr-aio.sh; todo: setup all Dockerfiles accordingly.
  scripts/packages/llcr-aio.sh
Labels: scripts

feat: add ./scripts/packages/demo-replased.sh in order to generalize core_routine functions for different packages by looking at the exported environment variable that will be on CORE_PLACEHOLDER_DEPS
  scripts/packages/demo-replased.sh
Labels: scripts

fix: add the second half of the tarball creation to another function [set_podman_tarball], comment the rest including the old config to be cleaned in future commits, todo: actually build this
  scripts/packages/podman-setup.sh
Labels: scripts

fix: add and export the PACKAGING_ART_DIR which was missing (comes from usgp-man shellscript) and the second half of the [set_tarball] function for getting the all-in-one tarball
  scripts/packages/hlcr-aio.sh
Labels: scripts

fix: add early stages of the packaging for bpftrace dependencies; todo: finish and build later
  scripts/packages/Dockerfile.bpftrace.qonq
Labels: scripts

fix: move libbpf and libbpf-bootstrap to ./assets/tracers
  .gitmodules
Labels: none

fix: comment submodule paths that are getting ignored under assets
  .gitignore
Labels: none

fix: pull/update ./visualization/makefile2graph
  .gitmodules
Labels: none

fix: add a directory for an older feature regarding cross-tolchains
  deploy/isogen/cross-toolchain/Dockerfile
  deploy/isogen/cross-toolchain/ct_compose.yml
Labels: deploy

fix: remove dangling [FIREAR] string at the middle of the script
  deploy/microvm/firecracker/Dockerfile
Labels: deploy

fix: enter the home of RKD_USER; todo: all the rest for the ocaml setup later
  trace/ocaml/Dockerfile.utop
Labels: tracing

feat: add a little documentation about reasoning behind providing multiple languages as feature support for examples on the distro
  trace/README.md
Labels: tracing

fix: add ebpf-exporter examples declaring yaml to interface with the golang API used by libbpfgo
  trace/exporter-libbpfgo/kmem-struct.txt
  trace/exporter-libbpfgo/manifests/bio_metrics.yaml
  trace/exporter-libbpfgo/manifests/cpu_metrics.yaml
  trace/exporter-libbpfgo/manifests/cpu_trace.yaml
  trace/exporter-libbpfgo/manifests/ram_metrics.yaml
  trace/exporter-libbpfgo/manifests/ram_trace.yaml
  trace/exporter-libbpfgo/trace_task.bpf.c
Labels: tracing

fix: add error handling and pretty-printing for debugging of the Ftrace subsystem which will be the basis for the poc at the last stage of the isogen/iso9660
  trace/Ftrace/kerfuncs.sh
Labels: tracing

.github/labeler.yml:

automation:
  - changed-files:
      - any-glob-to-any-file:
          - .github/**

tracing:
  - changed-files:
      - any-glob-to-any-file:
          - trace/**

scripts:
  - changed-files:
      - any-glob-to-any-file:
          - scripts/**

deploy:
  - changed-files:
    - any-glob-to-any-file:
        - deploy/**
