Repository deomorxsy/kjx-headless, changes with the labels that .github/labeler.yml gives for each.
All labels: automation, tracing, scripts, deploy

fix: unikernels workflow runner on. rules
  .github/workflows/unikernels/mirage.yml
  .github/workflows/unikernels/solo5-ukvm.yml
  .github/workflows/unikernels/unikraft.yml
Labels: automation

fix: add runtimes and their workflow run on. rules
  .github/workflows/runtimes/crio.yml
  .github/workflows/runtimes/crun.yml
  .github/workflows/runtimes/firecracker-ci.yml
  .github/workflows/runtimes/gvisor-ci.yml
  .github/workflows/runtimes/kata-ci.yml
  .github/workflows/runtimes/podman.yml
  .github/workflows/runtimes/runc.yml
  .github/workflows/runtimes/youki.yml
Labels: automation

fix: add isogen workflow runners and their on. rules
  .github/workflows/isogen/eltorito.yml
  .github/workflows/isogen/iso9660-ci.yml
  .github/workflows/isogen/qonq-qdb.yml
Labels: automation

fix: add rest of the tracers with their branches for each workflow run on. rules
  .github/workflows/tracers/bpftrace-ci.yml
  .github/workflows/tracers/ftrace-ci.yml
  .github/workflows/tracers/hpota.yml
  .github/workflows/tracers/libbpfgo.yml
  .github/workflows/tracers/ocaml-ci.yml
Labels: automation

fix: badge typos; fix: put all workflow runners under the .github/workflows directory
  .github/workflows/ayaya.yml
  .github/workflows/bpftrace-ci.yml
  .github/workflows/build-core.yml
  .github/workflows/containerd.yml
  .github/workflows/coverage.yml
  .github/workflows/crio.yml
  .github/workflows/crosvm.yml
  .github/workflows/crun.yml
  .github/workflows/docker.yml
  .github/workflows/downloader.yml
  .github/workflows/eltorito.yml
  .github/workflows/firecracker-ci.yml
  .github/workflows/ftrace-ci.yml
  .github/workflows/gvisor-ci.yml
  .github/workflows/hlcr-aio.yml
  .github/workflows/hpota.yml
  .github/workflows/iso9660-ci.yml
  .github/workflows/kata-ci.yml
  .github/workflows/libbpf-android.yml
  .github/workflows/libbpf-core.yml
  .github/workflows/libbpfgo.yml
  .github/workflows/llcr-aio.yml
  .github/workflows/microvms.yml
  .github/workflows/mirage.yml
  .github/workflows/ocaml-ci.yml
  .github/workflows/podman.yml
  .github/workflows/qonq-qdb.yml
  .github/workflows/runc.yml
  .github/workflows/rutabaga.yml
  .github/workflows/solo5-ukvm.yml
  .github/workflows/unikraft.yml
  .github/workflows/unit.yml
  .github/workflows/virtio.yml
  .github/workflows/vmdk.yml
  .github/workflows/youki.yml
  .github/workflows/zig-wasm-ci.yml
  README.md
Labels: automation

fix: llcr dependencies to be called using on.workflow_run.workflows on the llcr-aio workflow
  .github/workflows/containerd.yml
  .github/workflows/crun.yml
  .github/workflows/llcr-aio.yml
  .github/workflows/runc.yml
  .github/workflows/youki.yml
Labels: automation

fix: microvms dependencies to be called using on.workflow_run.workflows on the microvms workflow
  .github/workflows/firecracker-ci.yml
  .github/workflows/gvisor-ci.yml
  .github/workflows/kata-ci.yml
  .github/workflows/microvms.yml
Labels: automation

fix: hlcr dependencies to be called using on.workflow_run.workflows on the hlcr-aio workflow runner
  .github/workflows/crio.yml
  .github/workflows/docker.yml
  .github/workflows/hlcr-aio.yml
  .github/workflows/podman.yml
Labels: automation

fix: paravirt dependencies to be called using on.workflow_run.workflows on the paravirt-aio workflow; fix: change microvms name to _-aio to keep it consistent
  .github/workflows/crosvm.yml
  .github/workflows/microvms-aio.yml
  .github/workflows/paravirt-aio.yml
  .github/workflows/rutabaga.yml
  .github/workflows/virtio.yml
Labels: automation

fix: tracers dependencies to be called using on.workflow_run.workflows on the tracers-aio workflow
  .github/workflows/ftrace-ci.yml
  .github/workflows/libbpf-android.yml
  .github/workflows/libbpfgo.yml
  .github/workflows/ocaml-ci.yml
  .github/workflows/tracers-aio.yml
  .github/workflows/zwtd-bpf.yml
Labels: automation

fix: unikernels dependencies to be called using on.workflow_run.workflows on the unikernels-aio workflow
  .github/workflows/mirage.yml
  .github/workflows/solo5-ukvm.yml
  .github/workflows/unikernels-aio.yml
  .github/workflows/unikraft.yml
Labels: automation

fix: tracers dependencies [2/n]
  .github/workflows/bpftrace-ci.yml
  .github/workflows/build-core.yml
  .github/workflows/ftrace-ci.yml
  .github/workflows/hpota.yml
  .github/workflows/libbpf-core.yml
  .github/workflows/tracers-aio.yml
Labels: automation

fix: add on.workflow_run.types and on.workflow_run.branches to llcr-aio fix: make youki callable by llcr-aio
  .github/workflows/llcr-aio.yml
  .github/workflows/youki.yml
Labels: automation

fix: adjust gvisor name for the one described on the workflow_run at microvms-aio's on.
  .github/workflows/gvisor-ci.yml
Labels: automation

fix: add on.workflow_run.types and on.workflow_run.branches to hlcr-aio
  .github/workflows/hlcr-aio.yml
Labels: automation

feat: add a section to save PR number preparing for the release after ISO generation (isogen)
  .github/workflows/iso9660-ci.yml
Labels: automation

fix: rename wasm to zwtd-bpf to maintain consistency as a rule on the Makefile at the root of the project
  Makefile
Labels: none

fix: add libbpf rule to compose fix: place grafana, node-exporter and prometheus together as visualization+observability containers
  compose.yml
Labels: none

fix: adjust naming of the rule for consistency with ci -> Makefile -> script -> compose.yml
  scripts/entrypoints/wasm-runner.sh
Labels: scripts

feat: add fetch-artifact script
  scripts/ci-cd/fetch-artifacts.sh
Labels: scripts

fix: add the comment before workflow_call and more spacing
  .github/workflows/containerd.yml
  .github/workflows/crun.yml
  .github/workflows/runc.yml
Labels: automation

pipelines/ci-cd [2/n] - isogen fixing
  .github/workflows/dropbear.yml
  .github/workflows/initramfs.yml
  .github/workflows/iso9660-ci.yml
  .github/workflows/runit-ci.yml
Labels: automation

pipelines/ci-cd [4/n]
  Makefile
  scripts/ci-cd/fa-gha.sh
  scripts/secrets/rep-manager.sh
  scripts/secrets/rep-secrets.sed
Labels: scripts

fix: fa-gha path call at the Makefile
  Makefile
Labels: none

fix: put all dependencies of the iso9660-ci.yml workflow runner into the same iso/iso9660 branch that will run the jobs.
  .github/workflows/beetor.yml
  .github/workflows/dropbear.yml
  .github/workflows/initramfs.yml
  .github/workflows/kernel.yml
  .github/workflows/libbpf-core.yml
  .github/workflows/qonq-qdb.yml
  .github/workflows/runit-ci.yml
Labels: automation

fix: put all reusable workflow runs of microvms-aio.yml into the same microvms/aio branch that will run the jobs.
  .github/workflows/firecracker-ci.yml
  .github/workflows/gvisor-ci.yml
  .github/workflows/kata-ci.yml
Labels: automation

fix: put all reusable workflow runs of llcr-aio.yml into the same llcr/aio branch that will run the jobs.
  .github/workflows/containerd.yml
  .github/workflows/crun.yml
  .github/workflows/runc.yml
  .github/workflows/youki.yml
Labels: automation

fix: put all reusable workflow runs of hlcr-aio.yml into the same hlcr/aio branch that will run the jobs.
  .github/workflows/crio.yml
  .github/workflows/docker.yml
  .github/workflows/podman.yml
Labels: automation

fix: crio to the hlcr/aio
  .github/workflows/crio.yml
Labels: automation

fix: add on-success and on-failure jobs, clean out rules, etc
  .github/workflows/hlcr-aio.yml
  .github/workflows/llcr-aio.yml
  .github/workflows/microvms-aio.yml
Labels: automation

fix: spacing and build with makefile
  .github/workflows/llcr-aio.yml
  .github/workflows/microvms-aio.yml
Labels: automation

fix: wrong Makefile rule name for each of the microvms
  .github/workflows/firecracker-ci.yml
  .github/workflows/gvisor-ci.yml
  .github/workflows/kata-ci.yml
Labels: automation

feat: add rules for microvms, hlcr and llcr
  Makefile
Labels: none

microvm setup [2/n]
  scripts/entrypoints/microvms.sh
Labels: scripts

fix: organization of dependency installers for each of the sandbox environments at the qonq-qdb layer before iso9660 artifact generation
  scripts/qonq-qdb.sh
Labels: scripts

fix: typo at the definition of rules and shellscript contextd
  Makefile
Labels: none

isogen/iso9660 [1/n] && microvm setup [3/n]
  .github/workflows/runit-ci.yml
  .gitignore
  Makefile
  scripts/entrypoints/microvms.sh
  scripts/entrypoints/runit.sh
  scripts/sandbox/gvisor-startup.sh
  scripts/tryout.sh
Labels: automation, scripts

isogen/iso9660/ [2/n] && microvm setup [4/n]
  .github/workflows/gvisor-ci.yml
  compose.yml
  deploy/microvm/gvisor/Dockerfile
  scripts/qonq-qdb.sh
  scripts/sandbox/gvisor-startup.sh
Labels: automation, scripts, deploy

isogen/iso9660 [3/n]
  assets/runit/Dockerfile
Labels: none

fix: calling of docker compose for the build of zwtd_bpf fix: CLI syntax for the ccr script
  scripts/entrypoints/wasm-runner.sh
Labels: scripts

.github/labeler.yml:

automation:
  - changed-files:
      - any-glob-to-any-file:
          - .github/**

tracing:
  - changed-files:
      - any-glob-to-any-file:
          - trace/**

scripts:
  - changed-files:
      - any-glob-to-any-file:
          - scripts/**

deploy:
  - changed-files:
    - any-glob-to-any-file:
        - deploy/**
