Repository deomorxsy/kjx-headless, changes with the labels that .github/labeler.yml gives for each.
All labels: automation, tracing, scripts, deploy

add: function calls for all APIs for bpf that were included into this repo
  scripts/isogen/poc-bootscript.sh
Labels: scripts

fix: add checks for each kmod symlink (soft-link) creation even in level-2 depth
  scripts/isogen/poc-bootscript.sh
Labels: scripts

fix: the return statement into the soft link section
  scripts/isogen/poc-bootscript.sh
Labels: scripts

fix: check if [/var/run] exists and it is a symlink to [/run]
  scripts/isogen/poc-bootscript.sh
Labels: scripts

fix: the unsquash logic, uncomment the return at the check-13
  scripts/isogen/poc-bootscript.sh
Labels: scripts

fix: only mount a [tmpfs] filesystem at [/run] if a previous one was not found.
  scripts/isogen/poc-bootscript.sh
Labels: scripts

fix: adjust context of COPY instruction of the Dockerfile for the build stage, since it calls compose and there the context=./trace/libbpf-core/ with dockerfile=./Dockerfile
  trace/libbpf-core/Dockerfile
Labels: tracing

fix: add a cleaning rule for the airgap POC at the Makefile
  Makefile
Labels: none

fix: add scopes to fetch artifacts from github for the CI/CD pipelines.
  scripts/ci-cd/fa-gha.sh
Labels: scripts

fix: remove .PHONY instruction for an inexistent iso rule
  Makefile
Labels: none

fix: add container_name=dropbear to compose and the rule of same name
  compose.yml
Labels: none

from ssh-rootfs [3/3] to rootfs [1/n] rootfs [1/n]
  .github/workflows/iso9660-ci.yml
  .github/workflows/rootfs.yml
  Makefile
  compose.yml
  deploy/isogen/rootfs/Dockerfile
  deploy/isogen/rootfs/setup-dropbear.sh
  scripts/ci-cd/fa-gha.sh
Labels: automation, scripts, deploy

rootfs [2/n]
  deploy/isogen/rootfs/Dockerfile
  deploy/isogen/rootfs/setup-dropbear.sh
Labels: deploy

fix: from dropbear to rootfs badge
  README.md
Labels: none

fix: gvisor build and artifact generation, reuse the function from run-qemu to prepare the artifact to the CI/CD
  .github/workflows/gvisor-ci.yml
  scripts/entrypoints/microvms.sh
Labels: automation, scripts

microvm setup [5/n]
  scripts/entrypoints/microvms.sh
Labels: scripts

fix: refactor the [airgap_clean] helper function to include error handling and pretty printing; todo: add the checks version later.
  scripts/sandbox/run-qemu.sh
Labels: scripts

fix: add prepare_rootfs and prepare_packaging that is called by the first. Adjust some pretty-printing scopes on runiso and add the rootfs to the function.
  scripts/sandbox/run-qemu.sh
Labels: scripts

fix: add qemu_kjx shared volume and set qemu_kjx rule to read-only when mounting fix: add container names for qonq_shadow and qonq_iptables, rename the image tag name
  compose.yml
Labels: none

fix: add some assets directories so fzf-lua and other git integration tools to vim/neovim/any IDE doesn't go crazy
  .gitignore
Labels: none

microvm setup [6/n]
  deploy/microvm/firecracker/Dockerfile
  scripts/sandbox/firecracker-startup.sh
Labels: scripts, deploy

fix: add a warning into some files related with firecracker-containerd regarding the dependency on a network setup with iptables and to refer to ./scripts/packaging/iptables-setup.sh
  compose.yml
  deploy/microvm/firecracker/Dockerfile
Labels: deploy

fix: feat - add the fc_demo_network by translation some of the lingo inside the Makefile from the firecracker-containerd project in order to setup the runtime environment for firecracker.
  scripts/sandbox/firecracker-startup.sh
Labels: scripts

fix: add packaging for iptables and shadow as workflow runners
  .github/workflows/packaging_iptables.yml
  .github/workflows/packaging_shadow.yml
Labels: automation

fix: add a rule to get the fr-demo-network dependencies for runtime poc of firecracker-containerd
  Makefile
Labels: none

fix: add two error handling tests for the make command and return in direct-style
  deploy/microvm/firecracker/Dockerfile
Labels: deploy

fix: some other filepaths
  .gitignore
Labels: none

fix: add the rootfs isogen generation from tryout.sh and the build functions. todo: finish the build
  scripts/isogen/rootfs.sh
Labels: scripts

fix: add doas and libpam in a shared-object and binary dependency way of getting the dependency filepaths.
  scripts/packages/shadow-setup.sh
Labels: scripts

fix: at [./scripts/entrypoints/microvms.sh], mkdir -p was missing the operand. Fix it so the workflow_dispatch for microvms/gvisor can pass
  scripts/entrypoints/microvms.sh
Labels: scripts

fix: typo at packaging_*.yml: keep the reference with an underscore _ anyway
  .github/workflows/packaging_iptables.yml
  .github/workflows/packaging_shadow.yml
  compose.yml
Labels: automation

fix: shadow and iptables packaging path to retrieve artifact from the OCI image, also solve the chore job commented from the hpota workflow runner
  .github/workflows/packaging_iptables.yml
  .github/workflows/packaging_shadow.yml
Labels: automation

fix: since it is not really cross-compiling anything, remove this description from the .job.build.steps.name which is actually a chore from the android bpf workflow runner.
  .github/workflows/gvisor-ci.yml
Labels: automation

fix: bump actions/checkout version to v6 and set submodules to false to save time in the pipeline.
  .github/workflows/gvisor-ci.yml
Labels: automation

fix: bump actions/checkout@v2 to actions/checkout@v6 at the jobs.zzz.step.uses for these workflow runners. Also set the submodules to false in a bunch of them [1/n]
  .github/workflows/bpftrace-ci.yml
  .github/workflows/crio.yml
  .github/workflows/crosvm.yml
  .github/workflows/hlcr-aio.yml
  .github/workflows/libbpf-android.yml
  .github/workflows/llcr-aio.yml
  .github/workflows/solo5-ukvm.yml
Labels: automation

fix: create the tarball and make it available for artifact publishing
  deploy/microvm/firecracker/Dockerfile
Labels: deploy

fix: bump version of actions/checkout@v2 to actions/checkout@v6 and setup last stages for the firecracker and kata yaml to build the artifact and pass the workflow runner
  .github/workflows/firecracker-ci.yml
  .github/workflows/kata-ci.yml
Labels: automation

fix: bump version of actions/checkout@v2 to actions/checkout@v6 for all workflow runners
  .github/workflows/build-core.yml
  .github/workflows/containerd.yml
  .github/workflows/crun.yml
  .github/workflows/ftrace-ci.yml
  .github/workflows/gvisor-ci.yml
  .github/workflows/mirage.yml
  .github/workflows/paravirt-aio.yml
  .github/workflows/podman.yml
  .github/workflows/runc.yml
  .github/workflows/runit-ci.yml
  .github/workflows/rutabaga.yml
  .github/workflows/tracers-aio.yml
  .github/workflows/unikernels-aio.yml
  .github/workflows/unikraft.yml
  .github/workflows/virtio.yml
  .github/workflows/youki.yml
  .github/workflows/zwtd-bpf.yml
Labels: automation

fix: bump version of actions/checkout@v2 to actions/checkout@v6 for docker.yml and microvms-aio.yml
  .github/workflows/docker.yml
  .github/workflows/microvms-aio.yml
Labels: automation

fix: set submodules as false for both firecracker and kata CI
  .github/workflows/firecracker-ci.yml
  .github/workflows/kata-ci.yml
Labels: automation

.github/labeler.yml:

automation:
  - changed-files:
      - any-glob-to-any-file:
          - .github/**

tracing:
  - changed-files:
      - any-glob-to-any-file:
          - trace/**

scripts:
  - changed-files:
      - any-glob-to-any-file:
          - scripts/**

deploy:
  - changed-files:
    - any-glob-to-any-file:
        - deploy/**
